/* TODO ESSARRAJ : add comments */
.hiddenRapport {
    display: none !important;
}

/* 
* Le code javascript add_anchor_link_to_titles() 
* convert tous les titres en lien anchor
*/
a {
    text-decoration: none;
}


.theme-light .mermaid {
    --color-red: #ff7777;
    --color-orange: #ffbb99;
    --color-yellow: #ffeeaa;
    --color-green: #bbffbb;
    --color-cyan: #bbffee;
    --color-blue: #aaccff;
    --color-purple: #ddbbff;
    --color-pink: #ffcccc; 
}

.section-3{
    fill: red !important;
}

/* div.mermaid {
    font-family: 'trebuchet ms', verdana, arial;
} */


code {
    font-style: italic;
    border:none !important;
}

.word-style{
    font-weight: bold;
}
/* Style Tableau ms Word */
table.word-style {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
}
.word-style th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.word-style th {
    background-color: #f2f2f2;
}

.word-style img {
    width: 100px;
    margin: 0px !important;
}
 